* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: end;
  padding: 0.5rem 2rem;
  background-color: #606c38;
  color: #fefae0;
}
ul {
  width: 100%;
  background-color: #fefae0;
  text-align: center;
  padding: 1rem;
}
li {
  display: inline;
  list-style-type: none;
  padding: 1rem;
  font-weight: bolder;
}
li a:any-link {
  color: #283618;
}
